[submodule "tools/mspsim"]
	path = tools/mspsim
	url = https://github.com/contiki-os/mspsim.git
[submodule "tools/cooja/apps/serial2pty"]
	path = tools/cooja/apps/serial2pty
	url = https://github.com/cmorty/cooja-serial2pty
