################################################################################
#MODE Selection
# This parameter is used to select the running mode of the CETIC 6LBR
# This parameter is mandatory

#MODE=ROUTER
#MODE=SMART-BRIDGE
#MODE=RPL-RELAY
#MODE=FULL-TRANSPARENT-BRIDGE
#MODE=NDP-ROUTER
#MODE=6LR
#MODE=RPL-ROOT

################################################################################
#RAW Ethernet mode
# In this mode, the CETIC 6LBR directly send and receive Ethernet frames from
# the Ethernet controller

#RAW_ETH=1
#DEV_ETH=eth0

#Some Ethernet controllers include the FCS field when capturing packet, others not
#RAW_ETH_FCS=0
#RAW_ETH_FCS=1

################################################################################
#TAP mode
# In this mode, the CETIC 6LBR creates a virtual TAP interface, ti can be then
# bridged or tunneled to the Ethernet network

#RAW_ETH=0
#DEV_TAP=tap0

#The following parameter contains the mac address of the TAP interface, by default
#it is 02:a:b:c:d:e. Set it to '-' to use the generated mac address instead.
#DEV_TAP_MAC="02:a:b:c:d:e"

################################################################################
#Bridge configuration
# If activated, the CETIC 6LBR will use an Ethernet Bridge and connect DEV_TAP
# to it, effectively connecting the CETIC 6LBR to the Ethernet network

#BRIDGE=1
#CREATE_BRIDGE=0
#DEV_BRIDGE=br0

# The CETIC 6LBR can optionally create the Ethernet Bridge and optionally attach
# also DEV_ETH to it (Note that Eth will loose its configuration in that case)

#CREATE_BRIDGE=1

#ETH_JOIN_BRIDGE=1

#Multicast snooping is broken in several versions of the Linux kernel, it drops
#multicast traffic after a while.

#BRIDGE_DISABLE_SNOOPING=1

################################################################################
#SLIP Radio configuration
# These parameters define the SLIP Radio device and the Baudrate to be used to
# connect to the slip radio
# Additional parameters can be added in the EXTRA_PARAMS parameter below.

#Serial over USB
#DEV_RADIO=/dev/ttyUSB0

#ARM platform serial port
#DEV_RADIO=/dev/ttyAMA0

#SLIP Radio baudrate
#BAUDRATE=115200

#DTR/RTS signal state at connection. 1 = Set (default value), 0 = Clear
#DTR_RTS_STATE=1

#CTS/RTS Hardware control
#CTS_RTS_HW_CONTROL=0

#Scan operation to be performed before checking the radio availability
#SCAN_DEVICE=

#On BeagleBone, the USB Host does not always scan and detect properly the slip
#radio.
#SCAN_DEVICE=/usr/lib/6lbr/bb-scan-usb.sh

################################################################################
#Configuration Files
# The NVM binary file contains the user configuration, like the network
# prefixes, the autofconfiguration flags, ...

#NVM=/etc/6lbr/nvm.dat

# The NVM INI file is a user modifiable configuration file that allows others
# configuration parameters to be configured

#CONFIG=/etc/6lbr/nvm.conf

################################################################################
#6LBR installation paths

#LIB_6LBR=/usr/lib/6lbr
#BIN_6LBR=$LIB_6LBR/bin
#WWW_6LBR=$LIB_6LBR/www

################################################################################
#Startup/shutdown
# At startup and shutdown, the CETIC 6LBR will invoke these scripts to set up
# and tear down the interface

#IFUP=$LIB_6LBR/6lbr-ifup
#IFDOWN=$LIB_6LBR/6lbr-ifdown

################################################################################
#Logging configuration
# These parameters configure the location of the log files and the level of
# logging

#Location of log files, use - for standard output
#LOG_6LBR=/var/log
#LOG_6LBR_OUT=$LOG_6LBR/6lbr.log
#LOG_6LBR_ERR=$LOG_6LBR/6lbr.err

#Logging level

# 0 : FATAL  : Unrecoverable error detected
# 1 : ERROR  : Error detected and handled by 6LBR 
# 2 : WARN   : Unexpected condition occurred or important information message
# 3 : INFO   : Runtime information
# 4 : DEBUG  : Debug information
# 5 : PACKET : Trace printed when a packet is sent/received
# 6 : DUMP   : Actual packet sent/received
# 7 : TRACE  : Debug traces at packet level

#LOG_LEVEL=3

# Logging services : Log can be filtered according to the service
#See log-6lbr.h for the list of current services

#LOG_SERVICES=ffffffff

################################################################################
# Watchdog

#This parameter is the interval between two updates of the watchdog timestamp
#file
#WATCHDOG_INTERVAL=60

#This parameter is the timestamp file of the watchdog
#WATCHDOG_FILE=/var/log/6lbr.timestamp

#This parameter control the behaviour of the 6LBR run script; when set to 0, 6LBR
#is restarted even after an abnormal exit.
#STOP_AFTER_CRASH=0

################################################################################
#Extra parameters
# These parameters can be used to tweak 6LBR behavior

#This parameter can be used to specify additional parameters to the CETIC 6LBR
#EXTRA_PARAMS=

#This parameter contains the file in which 6LBR writes the global address of its
#Ethernet interface, by default it is not activated.
#IP_CONFIG_FILE=

################################################################################
# Cooja support
# If Cooja is used to simulate the WSN, the following configuration parameters
# are used to configure the connection to the simulated slip-radio

#SOCK_RADIO=localhost
#SOCK_PORT=60001
